Repository Azubis-Dataport-Magdeburg/dp_ausb_md, pull requests merged in 2021-05, with the labels that each got.

#174 Doku Install ansible ergänzt
  Dokumentation/Anleitungen/ansible - installation manuell.md
Labels: ansible, documentation

#176 Doku Nutzer aufgeräumt
  Dokumentation/Übersicht.md
Labels: documentation

#177 Jenkins-Anpassungen
  ansible/group_vars/g_jenkins.yml
  ansible/roles/geerlingguy.jenkins/.ansible-lint
  ansible/roles/geerlingguy.jenkins/.github/workflows/ci.yml
  ansible/roles/geerlingguy.jenkins/.gitignore
  ansible/roles/geerlingguy.jenkins/meta/main.yml
Labels: ansible

#175 Update doku
  Dokumentation/Übersicht.md
Labels: documentation

#181 Doku Bilder
  Dokumentation/Anleitungen/IPMI konfigurieren.md
  Dokumentation/Anleitungen/assets/IPMI/Anwendungsfehler.PNG
  Dokumentation/Anleitungen/assets/IPMI/Java-Anwendung-blockiert.PNG
  Dokumentation/Anleitungen/assets/IPMI/Sicherheitswarnung.PNG
Labels: documentation

#182 Neues SetUp-Playbook
  ansible/playbooks/0_setup.yml
Labels: ansible, enhancement

#185 rsync + at hinzugefügt
  ansible/group_vars/all.yml
Labels: ansible, enhancement

#173 Version für jinja festgesetzt
  ansible/group_vars/all.yml
  ansible/group_vars/g_ansible.yml
  ansible/playbooks/base/0_bootstrap.yml
Labels: ansible, bug

#191 Typo
  ansible/group_vars/all.yml
  ansible/roles/mgrote.update_packages/tasks/main.yml
Labels: documentation

#193 Bugfix: Install ansible
  ansible/group_vars/g_ansible.yml
  ansible/roles/geerlingguy.ansible/tasks/setup-pip.yml
  ansible/roles/geerlingguy.pip/tasks/main.yml
Labels: ansible, bug

#196 IPs PVE
  ansible/group_vars/g_dnsmasq.yml
  ansible/inventory.yml
Labels: ansible

#195 Housekeeping
  ansible/group_vars/g_ansible.yml
  ansible/group_vars/g_jenkins.yml
Labels: ansible

#203 User
  ansible/inventory.yml
  ansible/playbooks/0_setup.yml
  ansible/playbooks/base/0-1_post_bootstrap.yml
  ansible/playbooks/base/0_bootstrap.yml
Labels: ansible

#194 Proxy als Variable in all, und bei den anderen Rollen nur noch als Sub"Var
  ansible/group_vars/all.yml
  ansible/group_vars/g_acng.yml
  ansible/group_vars/g_ansible.yml
  ansible/group_vars/g_jenkins.yml
Labels: ansible

#208 reboot fur qemu-guest-agent
  ansible/playbooks/base/0_bootstrap.yml
Labels: ansible

#212 debug options als variable
  ansible/roles/mgrote.dnsmasq/defaults/main.yml
  ansible/roles/mgrote.dnsmasq/templates/dnsmasq.conf.j2
Labels: ansible

#215 bugfix: ufw: dnsmasq dhcp ports ohne netzangabe
  ansible/group_vars/g_dnsmasq.yml
Labels: ansible, bug

#217 bugfix: bootstrap: reboot + doku
  ansible/playbooks/base/0_bootstrap.yml
Labels: ansible, bug

#216 ansible: Jenkins in Gruppe ubuntu
  ansible/inventory.yml
Labels: ansible

#223 anleitung bereitstellen vm
  Dokumentation/Anleitungen/VM-bereitstellen.md
Labels: documentation

#230 ansible: Musterrolle als Vorlage hinzugefügt
  ansible/roles/mgrote.musterrolle/README.md
  ansible/roles/mgrote.musterrolle/defaults/main.yml
  ansible/roles/mgrote.musterrolle/handlers/main.yml
  ansible/roles/mgrote.musterrolle/meta/main.yml
  ansible/roles/mgrote.musterrolle/tasks/main.yml
  ansible/roles/mgrote.musterrolle/templates/script.sh
Labels: ansible, documentation

#234 tmux
  ansible/group_vars/all.yml
  ansible/playbooks/base/tmux.yml
  ansible/roles/mgrote.tmux/README.md
  ansible/roles/mgrote.tmux/defaults/main.yml
  ansible/roles/mgrote.tmux/tasks/main.yml
Labels: ansible
