Repository Azubis-Dataport-Magdeburg/dp_ausb_md, pull requests merged in 2021-04, with the labels that each got.

#89 Bugfix: GitHub actions - ansible-lint
  .ansible-lint
  .github/workflows/ansible-lint.yml
Labels: bug

#82 stalebot hinzugefügt
  .github/stale.yml
Labels: enhancement

#84 set_apt_proxy idempotent
  ansible/roles/set_apt_proxy/defaults/main.yml
  ansible/roles/set_apt_proxy/tasks/main.yml
Labels: bug

#85 Standardpakete
  ansible/group_vars/all.yml
Labels: enhancement

#88 ssh-key für mg aktualisiert
  ansible/group_vars/all.yml
Labels: enhancement

#86 Proxmox: user: root in ansible aufgenommen
  ansible/group_vars/all.yml
  ansible/keepass_db.kdbx
Labels: ansible, enhancement

#90 GitHub-Action: ansible-lint: stage umbenannt
  .github/workflows/ansible-lint.yml
Labels: enhancement

#95 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation, enhancement

#94 Doku ergänzt
  ansible/README.md
Labels: ansible, documentation, good first issue

#104 Rolle apt_proxy bei acng integriert
  ansible/playbooks/configure_apt_proxy.yml
  ansible/playbooks/install_acng_server.yml
Labels: ansible, bug

#100 NTP-Server abgebaut
  ansible/group_vars/all.yml
  ansible/group_vars/ntpserver.yml
  ansible/inventory.yml
  ansible/playbooks/install_ntp_server.yml
  ansible/roles/ntp-server/README.md
  ansible/roles/ntp-server/defaults/main.yml
  ansible/roles/ntp-server/handlers/main.yml
  ansible/roles/ntp-server/tasks/main.yml
  ansible/roles/ntp-server/templates/ntp.conf.j2
Labels: ansible, enhancement

#101 Bugfix: Jenkins: doppelte Vars
  ansible/group_vars/g_jenkins.yml
Labels: ansible, bug

#118 readme erstellt für set apt proxy
  ansible/roles/set_apt_proxy/README.md
Labels: ansible, documentation

#117 Namensschema
  Dokumentation/Übersicht.md
Labels: documentation

#105 Rolle: http_proxy
  ansible/playbooks/configure_http_proxy.yml
  ansible/roles/mgrote.set_http_proxy/README.md
  ansible/roles/mgrote.set_http_proxy/defaults/main.yml
  ansible/roles/mgrote.set_http_proxy/tasks/main.yml
Labels: ansible, enhancement

#120 Variablen-Namen: set_apt_proxy
  ansible/group_vars/g_acng.yml
  ansible/inventory.yml
  ansible/playbooks/install_acng_server.yml
  ansible/roles/set_apt_proxy/defaults/main.yml
  ansible/roles/set_apt_proxy/tasks/main.yml
Labels: ansible, documentation

#99 Konkurrenz-Rolle: dnsmasq - für dhcp und dns
  Dokumentation/Netzwerk/IP.md
  ansible/ansible.cfg
  ansible/group_vars/all.yml
  ansible/group_vars/dhcp.yml
  ansible/group_vars/g_ansible.yml
  ansible/group_vars/g_database.yml
  ansible/group_vars/g_dnsmasq.yml
  ansible/group_vars/g_ntpserver.yml
  ansible/inventory.yml
  ansible/playbooks/2_sources.yml
  ansible/playbooks/erstelle_datenbank.yml
  ansible/playbooks/install_ansible.yml
  ansible/playbooks/install_dhcp_dns_server.yml
  ansible/playbooks/install_dnsmasq.yml
  ansible/playbooks/install_ntp_server.yml
  ansible/roles/dhcp_server_einrichten/README.md
  ansible/roles/dhcp_server_einrichten/defaults/main.yml
  ansible/roles/dhcp_server_einrichten/handlers/main.yml
  ansible/roles/dhcp_server_einrichten/tasks/main.yml
  ansible/roles/dhcp_server_einrichten/templates/dnsmasq.conf
  ansible/roles/dhcp_server_einrichten/templates/hosts
  ansible/roles/dhcp_server_einrichten/templates/resolve.conf
  ansible/roles/mgrote.dnsmasq/README.md
  ansible/roles/mgrote.dnsmasq/defaults/main.yml
  ansible/roles/mgrote.dnsmasq/handlers/main.yml
  ansible/roles/mgrote.dnsmasq/tasks/configure.yml
  ansible/roles/mgrote.dnsmasq/tasks/install.yml
  ansible/roles/mgrote.dnsmasq/tasks/main.yml
  ansible/roles/mgrote.dnsmasq/tasks/services.yml
  ansible/roles/mgrote.dnsmasq/templates/dnsmasq.conf.j2
  ansible/roles/mgrote.dnsmasq/templates/dnsmasq_extra_resolve_file.j2
  ansible/roles/mgrote.dnsmasq/templates/resolv.conf.j2
Labels: ansible, enhancement

#123 IPs durch Hostnamen ersetzt
  ansible/group_vars/all.yml
  ansible/group_vars/g_acng.yml
  ansible/group_vars/g_dnsmasq.yml
  ansible/group_vars/g_jenkins.yml
Labels: ansible

#122 DNSMasq - Variablen
  ansible/group_vars/g_dnsmasq.yml
Labels: ansible

#149 Doku Bereitstellung
  Dokumentation/Anleitungen/Bootstrap der gesamten Umgebung.md
Labels: documentation

#148 Anleitung Aufsetzen ansible hinzugefügt
  Dokumentation/Anleitungen/ansible - installation manuell.md
Labels: documentation

#147 Firewall-Regeln verschärft
  ansible/group_vars/all.yml
  ansible/group_vars/g_acng.yml
  ansible/group_vars/g_dnsmasq.yml
  ansible/group_vars/g_jenkins.yml
  ansible/group_vars/g_ntpserver.yml
Labels: ansible

#146 Python-Paket entfernt:
  ansible/group_vars/g_ansible.yml
Labels: ansible

#145 Bugfix ACNG
  ansible/roles/mgrote.acng/tasks/main.yml
Labels: ansible, bug

#144 Playbooks sortiert
  ansible/playbooks/app/erstelle_datenbank.yml
  ansible/playbooks/app/install_acng_server.yml
  ansible/playbooks/app/install_ansible.yml
  ansible/playbooks/app/install_dnsmasq.yml
  ansible/playbooks/app/install_jenkins.yml
  ansible/playbooks/app/install_ntp_server.yml
  ansible/playbooks/base/0_bootstrap.yml
  ansible/playbooks/base/1_create_users.yml
  ansible/playbooks/base/2_packages.yml
  ansible/playbooks/base/2_sources.yml
  ansible/playbooks/base/3_haertung.yml
  ansible/playbooks/base/99_base.yml
  ansible/playbooks/base/configure_apt_proxy.yml
  ansible/playbooks/base/configure_http_proxy.yml
  ansible/playbooks/base/configure_ntp_client.yml
Labels: ansible

#138 diff als default option für ansible
  ansible/ansible.cfg
Labels: ansible, enhancement

#137 Nacharbeiten
  Dokumentation/Anleitungen/dnsmasq - installieren.md
  ansible/group_vars/g_dnsmasq.yml
  ansible/inventory.yml
Labels: ansible, bug, documentation

#150 Verbosity
  ansible/group_vars/g_acng.yml
  ansible/roles/mgrote.acng/README.md
  ansible/roles/mgrote.acng/defaults/main.yml
  ansible/roles/mgrote.acng/tasks/main.yml
  ansible/roles/mgrote.acng/templates/acng.conf
Labels: ansible, documentation, enhancement

#155 nextcloud server zu inventory hinzugefügt
  ansible/inventory.yml
Labels: ansible, enhancement

#167 Löschen der Install_acng_server.yml
  ansible/playbooks/install_acng_server.yml
Labels: ansible

#168 In das Namensschema P für Produktion aufgenommen.
  Dokumentation/Übersicht.md
Labels: documentation

#171 ntp server playbook entfernt
  ansible/playbooks/app/ntp_server.yml
Labels: ansible
