Repository Azubis-Dataport-Magdeburg/dp_ausb_md, pull requests merged in 2021-07, with the labels that each got.

#261 dnsmasq: doku
  ansible/roles/mgrote.dnsmasq/defaults/main.yml
Labels: ansible, documentation

#257 Apt update
  ansible/roles/mgrote.set_apt_sources/tasks/main.yml
  ansible/roles/mgrote.update_packages/tasks/main.yml
Labels: ansible, good first issue

#263 Doku ansible
  ansible/README.md
Labels: ansible, documentation

#264 Deprecation Warning: python
  ansible/group_vars/all.yml
Labels: ansible, bug

#266 Bugfix bash-linter
  .github/workflows/bash_lint.yml
  ansible/roles/mgrote.musterrolle/templates/script.sh
Labels: bug

#265 DNS-Infra
  ansible/group_vars/all.yml
  ansible/group_vars/g_dnsmasq.yml
  ansible/inventory.yml
  ansible/playbooks/1_base.yml
  ansible/playbooks/3_app/acng_server.yml
  ansible/playbooks/3_app/ansible.yml
  ansible/playbooks/3_app/dnsmasq.yml
  ansible/playbooks/3_app/erstelle_datenbank.yml
  ansible/playbooks/3_app/jenkins.yml
  ansible/playbooks/base/0_bootstrap.yml
  ansible/playbooks/base/2_sources.yml
  ansible/playbooks/base/99_base.yml
  ansible/playbooks/base/configure_apt_proxy.yml
  ansible/roles/mgrote.apt_manage_sources/README.md
  ansible/roles/mgrote.apt_manage_sources/defaults/main.yml
  ansible/roles/mgrote.apt_manage_sources/tasks/main.yml
  ansible/roles/mgrote.apt_manage_sources/tasks/mint.yml
  ansible/roles/mgrote.apt_manage_sources/tasks/proxmox.yml
  ansible/roles/mgrote.apt_manage_sources/tasks/ubuntu.yml
  ansible/roles/mgrote.apt_manage_sources/templates/apt.conf
  ansible/roles/mgrote.set_apt_sources/README.md
  ansible/roles/mgrote.set_apt_sources/defaults/main.yml
  ansible/roles/mgrote.set_apt_sources/handlers/main.yml
  ansible/roles/mgrote.set_apt_sources/tasks/main.yml
  ansible/roles/mgrote.set_apt_sources/templates/proxmox_no_subscription.list
  ansible/roles/mgrote.set_apt_sources/templates/proxmox_sources.list
  ansible/roles/mgrote.set_apt_sources/templates/ubuntu_sources.list
  ansible/roles/set_apt_proxy/README.md
  ansible/roles/set_apt_proxy/templates/apt.conf
Labels: ansible, bug, documentation

#213 CV4PVE
  .github/workflows/bash_lint.yml
  ansible/host_vars/RMPHLPVE1.yml
  ansible/keepass_db.kdbx
  ansible/playbooks/3_app/proxmox.yml
  ansible/roles/mgrote.cv4pve-autosnap/README.md
  ansible/roles/mgrote.cv4pve-autosnap/defaults/main.yml
  ansible/roles/mgrote.cv4pve-autosnap/tasks/main.yml
  ansible/roles/mgrote.cv4pve-autosnap/templates/cv4pve-script.sh
  ansible/roles/mgrote.cv4pve-autosnap/templates/logrotate_cv4pve
Labels: ansible

#274 Housekeeping
  ansible/inventory.yml
  ansible/playbooks/3_app/acng_server.yml
Labels: ansible
